:root {
  --hue-1: 195deg;
  --color-1: hsl(var(--hue-1), 100%, 60%);
  --hue-2: 208deg;
  --color-2: hsl(var(--hue-2), 100%, 50%);
}


button {
  background-color: var(--color-2);


  &:enabled {
    cursor: pointer;
    
    
    &:hover { background-color: hsl(var(--hue-2), 100%, 40%); }
  }
  &:disabled {
    border-color: #aaa;
  }
}


progress {
  accent-color: hsl(var(--hue-1), 100%, 35%);
}


p {
  line-height: 1.5;
}