@import url("base.css");


label { display: block; }


#controls {
  display: flex;
  gap: 10px;

  align-items: center;


  margin-block: 10px;
  

  & #question-progress {
    flex: 1;
  }
}


::slotted(form) { min-block-size: 350px; }


dialog {
  inline-size: 650px;
  > div {
    display: flex;
    justify-content: space-between;
  }
}