@import url("base.css");


:not(:defined) { display: none; }


main {
  max-inline-size: 600px;
  margin: auto;
}


#instructions {
  > h2 {
    border: solid;
    padding: 5px;

    background-color: var(--color-1);
  }
}