@import url("base.css");


:not(:defined) { display: none; }


main {
  max-inline-size: 600px;
  margin: auto;
}


h2 {
  border: solid;
  padding: 5px;

  background-color: var(--color-1);
}
form > h2 {
  border-width: 2px;
  border-radius: 10px;
}


#x-value {
  font-size: 2rem;
  text-align: center;
  > math {
    border: solid;
    padding: 15px;
    border-radius: 50%;
  }
}


input:invalid { background-color: red; }
@supports selector(:user-invalid) {
  input:invalid { background-color: revert; }
  input:user-invalid { background-color: red; }
}