@import url("base.css");


:not(:defined) { display: none; }


main {
  max-inline-size: 600px;
  margin: auto;
}


h2 {
  border: solid;
  padding: 5px;

  background-color: var(--color-1);
}
form > h2 {
  border-width: 2px;
  border-radius: 10px;
}